body {
  font-family: "Merriweather", serif;
  margin: 0;
  padding: 0;
}
.container {
  width: 1320px;
  margin: 0 auto;
  margin-top: 50px;
}
.banner {
  border-radius: 16px;
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("images/Banner.png");
  position: relative;
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 160px 344px;
}
.banner > h3 {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
}
.banner > h1 {
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
}
.discount-part {
  padding: 0px 344px;
  text-align: center;
  font-family: Inter;
}
.discount-part > h2 {
  color: #f00;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 30px;
}
.discount-part > p {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
}
.discount-part > h3 {
  color: #070211;
  font-size: 48px;
  font-weight: 700;
  margin-top: 25px;
}

.party-section {
  display: flex;
  gap: 4px;
  align-items: center;
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("images/Vectorrr.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  border-radius: 16px;
  margin-top: 120px;
}
.about-party {
  width: 55%;
  margin-left: 100px;
}
.about-party > h1 {
  color: #fff;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px; /* 137.5% */
  letter-spacing: 7.04px;
  margin-bottom: 24px;
}
.about-party > p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.about-party button {
  background: #000;
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  padding: 5px 10px;
  border: none;
}
.party-section img {
  margin-right: 100px;
}
.schedule-container {
  text-align: center;
  font-family: Inter;
  font-weight: 600;
  background-image: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  border-radius: 16px;
  width: 1320px;
  margin: 120px auto;
  padding: 100px 0px;
}
.schedule-container span {
  color: #f00;
  font-size: 32px;
  line-height: 56px; /* 175% */
}
.schedule-container h3 {
  color: #070211;
  font-size: 32px;
  line-height: 56px;
}
.schedule-container button {
  border-radius: 8px;
  background: #f00;
  border: none;
  cursor: pointer;
  padding: 16px 32px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
.Offer-container {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  align-items: center;
  font-family: Inter;
}
.offer {
  width: 30%;
}
.offer h5 {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: -26px;
}
.offer h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
}
.offer p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
}
.image {
  border-radius: 463px;
  border: 15px solid #f00;
  padding: 20px;
  text-align: center;
  width: 30%;
}
.new-year {
  width: 30%;
  text-align: left;
  font-family: Inter;
}
.new-year h2 {
  color: #f00;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}
.new-year p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
.holiday-offer {
  text-align: center;
  margin-top: 120px;
}
.holiday-offer-text {
  padding: 130px;
}
.holiday-offer h4 {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: -35px;
}
.holiday-offer h1 {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  line-height: normal;
  margin-bottom: -20px;
}
.holiday-offer span {
  color: #f00;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  line-height: normal;
}
h6 {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}
.holiday-offer-banner {
  background-image: url("images/Rectangle 2.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.banner-images {
  position: relative;
  z-index: -1;
  bottom: 50px;
}
.offer-logo {
  position: absolute;
  top: 50px;
  right: 270px;
}
.gift-section {
  width: 1320px;
  margin: 120px auto;
  font-family: inter;
}
.gift-section h4 {
  color: #f00;
  font-size: 24px;
  margin-bottom: -20px;
}
.gift-section h1 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: -17px;
}
.gift-section h5 {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 48px;
}
.products {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
.products > img {
  width: 424px;
}
.subscribe-section {
  border-radius: 16px;
  background-color: rgba(255, 0, 0, 0.05);
  text-align: center;
  font-family: inter;
}
.subscribe-container {
  padding: 80px 230px;
}
.subscribe-container h1 {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
}
.subscribe-container h4 {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-size: 20px;
  line-height: 32px;
}
.subscribe-container input {
  border: none;
  padding: 25px 30px;
}
.subscribe-now {
  display: flex;
  justify-content: center;
}
.email-field {
  color: rgba(7, 2, 17, 0.3);
  background: #fff;
  border-radius: 50px 0 0 50px;
  outline: none;
  font-size: 18px;
  font-weight: 400;
  width: 300px;
}
.button {
  background-color: #f00;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  border-radius: 0px 50px 50px 0px;
  cursor: pointer;
}
footer {
  background-color: #070211;
  padding: 30px 140px;
  margin-top: 115px;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.footer-info {
  display: flex;
  justify-content: space-between;
}
.footer-info h3 {
  width: 40%;
}
hr {
  border-color: rgba(255, 255, 255, 0.15);
}
.contacts p {
  display: flex;
  align-items: center;
  gap: 10px;
}
.social-media {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  margin: 48px;
}